/* Blue Theme - Shticell by Ariel Vaknin */

.InnerComponents {
    -fx-background-color: #28e9f1;
}


.button {
    -fx-background-color: #2999b8;   /* A greenish color */
    -fx-text-fill: white;            /* White text */
    -fx-background-radius: 5px;      /* Rounded corners */
    -fx-border-radius: 5px;
}

.label {
    -fx-font-family: "Eras Demi ITC";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #2186a1;
}

.button:pressed {
    -fx-background-color: #186880;
}

.button:disabled {
    -fx-background-color: #79c1dc;
    -fx-text-fill: #E0E0E0;
}

.graph-node {
    -fx-fill: #2999b8;          /* fill color */
    -fx-stroke: #000000;        /* border color */
    -fx-stroke-width: 2px;      /* border thickness */
}

.graph-node:pressed {
    -fx-fill: derive(#2999b8, -30%); /* 30% darker */
}

.node-label {
    fill: #000000;
}

.graph-node.selected {
    -fx-effect: dropshadow(gaussian, #2999b8, 30, 0.6, 0, 0);
}