/* Red Theme - GraphVisualizer by Ariel Vaknin */

.InnerComponents {
    -fx-background-color: #ea3d5a;
}


.button {
    -fx-background-color: #c61a37;   /* A greenish color */
    -fx-text-fill: white;            /* White text */
    -fx-background-radius: 5px;      /* Rounded corners */
    -fx-border-radius: 5px;
}

.label {
    -fx-font-family: "Eras Demi ITC";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #aa1934;
}

.button:pressed {
    -fx-background-color: #950e1f;
}

.button:disabled {
    -fx-background-color: #cd6b80;
    -fx-text-fill: #E0E0E0;
}

.graph-node {
    -fx-fill: #ea3d5a;          /* fill color */
    -fx-stroke: #000000;        /* border color */
    -fx-stroke-width: 2px;      /* border thickness */
}

.graph-node:pressed {
    -fx-fill: derive(#ea3d5a, -30%); /* 30% darker */
}

.node-label {
    fill: #000000;
}

.graph-node.selected {
    -fx-effect: dropshadow(gaussian, #ea3d5a, 30, 0.6, 0, 0);
}
